:root {
  --primary-Dark: hsl(158, 36%, 37%);
  --primary-Cream: hsl(30, 38%, 92%);
  --Dark-grayish: hsl(228, 12%, 48%);
  --neutro-Very-dark: hsl(212, 21%, 14%);
  --neutro-White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-Cream);
}

.container {
  margin: 0 18px;
  padding: 30px 0;
}
.container__image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container__image-principal {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card {
  padding: 18px;
  border-radius: 0 0 10px 10px;
  background-color: var(--neutro-White);
}
.card__subtitle {
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish);
  font-size: 0.6rem;
  font-weight: 500;
  display: flex;
  letter-spacing: 0.2rem;
}
.card__title {
  margin-top: 10px;
  font-family: "Fraunces", sans-serif;
  font-size: 1.7rem;
  line-height: 1.7rem;
}
.card__parrafo {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish);
  font-size: 0.8rem;
  line-height: 1.3rem;
}
.card__precio {
  display: flex;
  margin-top: 20px;
  font-family: "Fraunces", sans-serif;
  color: var(--primary-Dark);
  font-weight: bold;
  font-size: 1.6rem;
}
.card__descount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  color: var(--Dark-grayish);
  text-decoration: line-through;
  padding-left: 18px;
}
.card__image {
  width: 40px;
  height: 20px;
}
.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  font-size: 0.77rem;
  border: none;
  border-radius: 10px;
  color: var(--neutro-White);
  background-color: var(--primary-Dark);
  cursor: pointer;
}